# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
client/.env
server/.env

# build files
dist/
build/
client/dist/

# uploads
uploads/
server/uploads/

# misc
.vscode/
.DS_Store